@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 98%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header { background-color: rgb(37,43,51); }

/*sign-in button styling start*/
.Sign-In { 
    background-color: rgb(243,0,103);
    display: inline-block;
}

.Sign-In a {
    padding: 10px 20px;
    font-size: 11px;
    color: white;
}

.Sign-In span { 
    padding-left: 1px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.Sign-In a:hover{
    color: rgb(243,0,103);
    background-color:white;
    -moz-transition:all .85s ease-in-out;
    -webkit-transition:all .85s ease-in-out;
    -ms-transition:all .85s ease-in-out;
    -o-transition:all .85s ease-in-out;
    transition:all .95s ease-in-out;
}
/*sign-in button styling end*/
/*social icons styling start*/
.social-icons{
    display: inline-block;
    padding: 0 20px;
}

.social-icons ul li a {
    color: rgb(255,255,255);
    font-size: 14px;
}

.social-icons ul li { padding: 0px 8px; }
.social-icons ul li a:hover{ color: rgb(243,0,103); }
/*social icons styling end*/
/*contact styling start*/
.cont-details{ 
    float: right;
    padding-top: 7px;
}

.phone {
    display: inline;
    padding: 0 50px;
}

.email{ display: inline; }

.phone a,
.email a {
    color: rgb(255,255,255);
    font-size: 14px;
}

.phone a:hover,
.email a:hover { color: rgb(243,0,103); }
/*contact styling end*/
/*head2 styling start*/
.head2{
    width: 98%;
    margin: 0 auto;
    padding: 25px 0;
    position: absolute;
}
/*head2 styling end*/
/*logo styling start*/
.logo{
    width: 100px;
    display: inline-block;
}

h1 a img{ 
    width: 100px;
    height: 40px;
}
/*logo styling end*/
/*nav menu styling start*/
.menu{
    display: inline-block;
    margin-left: 180px;
}

.fas.fa-bars{ display: none; }

nav ul li {
    width: 100px;
    text-align: center;
}

nav ul li a{
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 9px;
}
.homeactive,
nav ul li a:hover{
    border-bottom: solid;
    border-bottom-color: rgb(243,0,103);
}

.cap{ text-transform: uppercase; }

/*nav menu styling end*/
/*search-bar styling start*/
.search-bar {
    border: 2px solid;
    border-color: white;
    border-radius: 5px;
    padding: 4px;
    float: right;
}

.ins-search,
.insert-txt,
.search-btn{ display: inline; }

.search-btn a{
    padding: 7px 18px;
    background-color: rgb(243,0,103);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.insert-txt input[type="text"]{
    width: 120px;
    padding: 3px;
    border: none;
    background: transparent;
}

.insert-txt ::placeholder{ color: white; }

.search-btn a:hover {
    background-color: white;
    color: rgb(243,0,103);
}

/*search-bar styling start*/

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*banner style start*/
.banner{
    width: 100%;
    background-image: url(../images/banner.png);
    background-size: cover;
}
/*banner style end*/
.slides li{ 
    width: 100%;
    padding-top: 150px;
    display: none;
    text-align: center;
}

.slide.showing{ display: block; }

.slides li h2{
    padding: 0 200px;
    color: white;color: rgb(255,255,255);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.slides li p{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    color: rgb(255,255,255);
}

.slides li a{
    cursor: pointer;
    padding: 10px 25px;
    border: 2px solid;
    border-radius: 5px;
    border-color: white;
    color: rgb(255,255,255);
    font-size: 14px;
    font-weight: bold;
}

.slides li a:hover{
    background-color: rgb(243,0,103);
    color: rgb(255,255,255);
    -moz-transition:all .85s ease-in-out;
    -webkit-transition:all .85s ease-in-out;
    -ms-transition:all .85s ease-in-out;
    -o-transition:all .85s ease-in-out;
    transition:all .85s ease-in-out;
}

.slider-dot{
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center; 
}

.fas.fa-circle.active,
.fas.fa-circle:hover{ color: rgb(243,0,103); }
.fas.fa-circle{ color: rgb(255,255,255); }
/*slider styling end*/
/*learn today1 style start*/
.learn-today1{ margin:70px 0; }
.about-learn-today{ 
    display: flex; 
    width: 86%;
    margin: 0 auto;
}
.about-learn-today h3 {
    width: 350px;
    color: rgb(37,43,51);
    font-size: 38px;
    font-weight: bold;
}

.about-learn-today p{
    width: 700px;
    padding-left: 30px;
    padding-top: 8px;
    float: right;
    line-height: 1.8;
    font-size: 14px;
    text-align: justify;
    color: rgb(116, 110, 110);
}

.learn-images{
    display: flex;
    width: 86%;
    margin: 50px auto;
}

.imgL:nth-child(1){ margin-right: 30px; }

.imgL:nth-child(2),
.imgL:nth-child(3){ margin-right: 30px; }

.imgL,
.imgL img{
 border-radius: 5px; 
 height: 290px; 
}
/*learn today1 style end*/
/*learn today2 style start*/
.l-facilities{ background-color: rgb(249,250,251); }
.learn-today2{ padding: 80px 0; }

.facility-flex{ 
    width: 86%;
    margin: 0 auto;
    padding: 50px 0; 
    display: flex;
}

.facility-icon a{ 
    color: rgb(243,0,103);
    font-size: 26px;  
}

.about-fac p:nth-child(2){  
    color: rgb(136, 138, 138); 
    font-size: 14px;
    padding-right:20px;
}

.fac-name{ 
    font-size: 16px;
    font-weight: bold;
    line-height: 2;
}

.bck-img{
    width: 86%;
    height: 150px;
    border-radius: 5px;
    margin: 0 auto;
    background-image:url(../images/people.jpg);
    background-size: cover;
}

.statlist li{
    width: 24%;
    padding: 32px 0;
    text-align: center;
}

.count{ 
    font-size: 50px;
    font-weight: bold;
    color: white;
    display: block;
}

.status{
    padding: 6px 0;
    color: white;
    font-size: 15px;
    font-weight: bold;
    display: block;
}

/*learn today2 style end*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 





   
   
   

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  